@model BesikduzuSeyahat.Entity.Direction

@{
    var Price = Model.Price;
}

@{
    var price = @Price;
    var price1 = @Price - 20;
    var price2 = @Price - 40;
    var price3 = @Price - 60;
}
<div class="card mb-3 shadow">

    <div class="card-title pl-3 pt-3">
        <h1>@TempData["departure"] - @TempData["arrival"]</h1>
    </div>
    <div class="card-body">
        <form action="/travel/details" method="POST" style="display:inline;">
            <div class="row no-gutters">

                <div class="col-md-8">
                    <h4>@Model.Start > @Model.Finish Aracı</h4>
                    <p><b>Güzergah: </b> @Model.Start > @Model.direction1 > @Model.direction2 > @Model.direction3 > @Model.Finish</p>
                    <p>@Model.Date  -  @Model.Time</p>
                    <br />
                    <p>Dolu koltuk sayısı: @ViewBag.Number</p>



                    <input type="hidden" name="directionId" value="@Model.DirectionId" />



                    @if ((@TempData["departure"].ToString() == @Model.Start) && (@TempData["arrival"].ToString() == @Model.Finish))
                    {
                        <p style="text-align: right; font-size:26px;">@Price ₺</p>
                        <input type="hidden" name="price" value="@Price" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.Start) && (@TempData["arrival"].ToString() == @Model.direction3))
                    {
                        <p style="text-align: right; font-size:26px;">@price1 ₺</p>
                        <input type="hidden" name="price" value="@price1" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.Start) && (@TempData["arrival"].ToString() == @Model.direction2))
                    {
                        <p style="text-align: right; font-size:26px;">@price2 ₺</p>
                        <input type="hidden" name="price" value="@price2" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.Start) && (@TempData["arrival"].ToString() == @Model.direction1))
                    {
                        <p style="text-align: right; font-size:26px;">@price3 ₺</p>
                        <input type="hidden" name="price" value="@price3" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction1) && (@TempData["arrival"].ToString() == @Model.Finish))
                    {
                        <p style="text-align: right; font-size:26px;">@price1 ₺</p>
                        <input type="hidden" name="price" value="@price1" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction1) && (@TempData["arrival"].ToString() == @Model.direction3))
                    {
                        <p style="text-align: right; font-size:26px;">@price2 ₺</p>
                        <input type="hidden" name="price" value="@price2" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction1) && (@TempData["arrival"].ToString() == @Model.direction2))
                    {
                        <p style="text-align: right; font-size:26px;">@price3 ₺</p>
                        <input type="hidden" name="price" value="@price3" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction2) && (@TempData["arrival"].ToString() == @Model.direction3))
                    {
                        <p style="text-align: right; font-size:26px;">@price3 ₺</p>
                        <input type="hidden" name="price" value="@price2" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction2) && (@TempData["arrival"].ToString() == @Model.Finish))
                    {
                        <p style="text-align: right; font-size:26px;">@price2 ₺</p>
                        <input type="hidden" name="price" value="@price2" />
                    }
                    @if ((@TempData["departure"].ToString() == @Model.direction3) && (@TempData["arrival"].ToString() == @Model.Finish))
                    {
                        <p style="text-align: right; font-size:26px;">@price3 ₺</p>
                        <input type="hidden" name="price" value="@price3" />
                    }

                    <input type="hidden" name="departure" value="@TempData["departure"].ToString()" />
                    <input type="hidden" name="arrival" value="@TempData["arrival"].ToString()" />
                </div>

                <div class="row no-gutters">

                    <div class="col-md-12">
                        <br /><br /><hr /><br />
                        <div class="form-group">
                            <input type="email" name="passengermail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" name="passengertel" class="form-control" id="" aria-describedby="" placeholder="Telefon Numarası" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" name="passengername" class="form-control" id="" aria-describedby="" placeholder="İsim" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" name="passengersurname" class="form-control" id="" aria-describedby="" placeholder="Soyisim" required="required">
                        </div>
                        <div class="form-group">
                            <select name="seatno" class="form-select mb-3" asp-items="@ViewBag.Seats" required="required"  required="required">
                                <option selected disabled>Koltuk Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg" style="color: white;">Bilet Al</button>
                    <br />
                </div><br />
            </div>
        </form>
    </div><br />

</div>
<br />