@model DirectionTicket

<div class="row" style="text-align:center;">
    <div class="col-sm-12">
        <br />
    <i class="fas fa-check-circle" style="font-size:36px; color:green;"></i><br />
    <br /><p> Sayın @Model.Ticket.PassengerName @Model.Ticket.PassengerSurname, @Model.Ticket.Departure -> @Model.Ticket.Arrival için bilet alma işleminiz başarılı bir şekilde gerçekleştirilmiştir, iyi yolculuklar dileriz.</p> <br />
    <a asp-controller="home" asp-action="index">Ana Sayfa</a>
    <br /><hr /><br />
    <h3>Bilet Bilgileriniz</h3><br />
    
    <table class="table table-sm table-bordered table-info">
        <thead>
            <tr>
                <th>Bilet No</th>
                <th>Ad - Soyad</th>
                <th>Mail</th>
                <th>Telefon No</th>
                <th>Başlangıç</th>
                <th>Bitiş</th>
                <th>KoltukNo</th>
                <th>Fiyat</th>
                <th>Tarih - Saat</th>
                
                <th style="width:75px;">Sefer No</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ticket.TicketId</td>
                <td>@Model.Ticket.PassengerName @Model.Ticket.PassengerSurname</td>
                <td>@Model.Ticket.PassengerMail</td>
                <td>@Model.Ticket.PassengerTel</td>
                <td>@Model.Ticket.Departure</td>
                <td>@Model.Ticket.Arrival</td>
                <td>@Model.Ticket.SeatNo</td>
                <td>@Model.Ticket.Price ₺</td>
                <td>@Model.Date - @Model.Time</td>
                
                <td>@Model.Ticket.DirectionId</td>

            </tr>
        </tbody>
    </table>
    <br />
    </div>
</div>