@model EF_CodeFirst.Models.Publisher
@{
    ViewData["Title"] = "Detail";
}
<h4>Details of @Model.PublisherName</h4>
<hr>
<div class="row">
    <div class="col-6">
        <p class="detail">Publisher's ID: @Model.PublisherId</p>
        <p class="detail">Publisher's Name: @Model.PublisherName</p>
        <p class="detail">Publisher's City: @Model.PublisherCity</p>
        <p class="detail">Publisher's Mail: @Model.PublisherMail</p><br>
        <a asp-action="Index" class="btn btn-info">Go Back Publishers</a>
    </div>
</div>