@model EF_CodeFirst.Models.Publisher
@{
    ViewData["Title"] = "Detail";
}

<h4>Details of @Model.PublisherName</h4>
<div class="row">
    <div class="col-sm-6">
        <h6>Publisher ID: @Model.PublisherId</h6><br>
        <h6>Publisher Name: @Model.PublisherName</h6><br>
        <h6>Publisher City: @Model.PublisherCity</h6><br>
        <h6>Publisher Mail: @Model.PublisherMail</h6><br>
        <a asp-action="Index" class="btn btn-danger">Go Back Publisher List</a>
    </div>
</div>